#logo{
	height:20px;
}

.navbar-default{
	background-color:#3f3f3f;
	margin-bottom:0;
	border:none;
}

.navbar-custom{
	padding-left:30px;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 150px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #3f3f3f;

}


#left-side{
	display:none;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    padding-top:175px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


.footer{
	margin-top:auto;
	background: rgba(63,63,63, 0.9);
	margin:auto;
	position:fixed;
	bottom:0;

}
.map{
	padding-bottom:230px;
}
.property-image{
	margin-top:10px;
	width:200px;

}
.fa-bars{
	position: fixed;
    margin-top: 5px;
    margin-left: 10px;
    z-index: 10000000000;
    color:black;
}

