#logo{
	height:20px;
}

.navbar-default{
	background-color:#3f3f3f;
	margin-bottom:0;
	border:none;
}

.navbar-custom{
	padding-left:30px;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 150px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #3f3f3f;

}

html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }



#left-side{
	display:none;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    padding-top:175px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


.footer{
	margin-top:auto;
	background: rgba(63,63,63, 0.9);
	margin:auto;
	position:fixed;
	bottom:0;

}
.map{
	padding-bottom:230px;
}
.property-image{
	margin-top:10px;
	width:200px;

}
.fa-bars{
	position: fixed;
    margin-top: 5px;
    margin-left: 10px;
    z-index: 10000000000;
    color:black;
}

#map{
    width: 97%; 
    height: 100%;
    margin-left:5%;
    padding-bottom: 230px;
 }

 .filter{
 	height: auto;
    width: 690px;
    margin-left: 280px;
    background-color: rgba(63,63,63,0.9);
    margin-top: 15px;
 	position:fixed;
 	z-index:999999;
 }

 .rslider {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  
}

#slider1 .rs-range-color  {
    background-color: #87bb4a;
}
#slider1 .rs-handle:after  {
    background-color: black;
}
#slider1 .rs-border  {
    border-color: #87bb4a;
}

#slider2 .rs-range-color  {
    background-color: #87bb4a;
}
#slider2 .rs-handle:after  {
    background-color: black;
}
#slider2 .rs-border  {
    border-color: #87bb4a;
}

#slider3 .rs-range-color  {
    background-color: #87bb4a;
}
#slider3 .rs-handle:after  {
    background-color: black;
}
#slider3 .rs-border  {
    border-color: #87bb4a;
}

.silder-data{
	color:white;
}

#s1{
	margin-left:80px;
}
#s2{
	margin-left:90px;
}
#s3{
	margin-left:130px;
}
.close{
	color:white;
	float:right;
	font-weight: bold
}
.close:hover{
	color:white;
}


.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
   display:flex;
       margin-left: 180px;
    margin-top: 10px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;

}


/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}


/* -------------------- Colors: Background */

.green   { background-color: #87bb4a; }


/* -------------------- Colors: Text */

.green select   { color: #fff; }



/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;

}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

.form-control{
	width: 260px;
}